$smallDevice: "only screen and (max-width : 768px)";
$mediumDevice: "only screen and (min-width : 769px) and (max-width : 992px)";
$largeDevice: "only screen and (min-width : 993px) and (max-width : 1200px)";
$extraLargeDevice: "only screen and (min-width : 1201px)";
